<button id="btnTest" type="button" [class]="currentCssClass" (click)="onToggleCssClassClick()">Toggle CSS Class</button>
<button type="button" (click)="onReloadClick()">Reload</button>
<br />
<br />
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Button CSS Class (component property)</th>
      <th>Button HTML</th>
      <th>Button Css Class (DOM)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eventRow of eventRows">
      <td>{{ eventRow.eventName}}</td>
      <td [class]="eventRow.currentCssClass">{{ eventRow.currentCssClass }}</td>
      <td>{{ eventRow.buttonHtml }}</td>
      <td [class]="eventRow.domCssClass">{{ eventRow.domCssClass }}</td>
    </tr>
    <tr *ngIf="eventRows.length === 0">
      <td colspan="4">No events.</td>
    </tr>
  </tbody>
</table>